<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/imgs/favicon.ico" th:href="@{/imgs/favicon.ico}">
        <!-- Alpine Plugins -->
        <script defer src="/libs/alpinejs/morph/3.11.1/release.min.js" th:href="@{/libs/alpinejs/morph/3.11.1/release.min.js}"></script>
        <script defer src="/libs/alpinejs/component/1.1.4/release.min.js" th:href="@{/libs/alpinejs/component/3.11.1/release.min.js}"></script>
        <script defer src="/libs/alpinejs/mask/3.10.5/release.min.js" th:href="@{/libs/alpinejs/mask/3.11.1/release.min.js}"></script>
        <!-- Alpine JS -->
        <script defer src="/libs/alpinejs/3.10.5/release.min.js" th:src="@{/libs/alpinejs/3.10.5/release.min.js}"></script>
        <!-- HTMX -->
        <script defer src="/libs/htmx/1.8.4/htmx.min.js" th:src="@{/libs/htmx/1.8.4/htmx.min.js}"></script>
        <!-- Tailwind CSS -->
        <script src="/libs/tailwindcss/3.2.6/release.min.js" th:src="@{/libs/tailwindcss/3.2.6/release.min.js}"></script>
        <script src="/js/tailwind.config.js" th:href="@{/js/tailwind.config.js}"></script>
        <!-- Common CSS -->
        <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
        <!-- Common JS -->
        <script src="/js/script.js" th:src="@{/js/script.js}"></script>
        <title th:text="#{app}">NDL Privus</title>
        <script src="/libs/validator/13.9.0/validator.min.js" th:src="@{/libs/validator/13.9.0/validator.min.js}"></script>
        <link rel="stylesheet" href="/libs/intl-tel-input-17.0.19/css/intlTelInput.css" th:href="@{/libs/intl-tel-input-17.0.19/css/intlTelInput.css}">
        <script src="/libs/intl-tel-input-17.0.19/js/intlTelInput.js" th:src="@{/libs/intl-tel-input-17.0.19/js/intlTelInput.js}"></script>
        <script src="/js/utils/validation.js" th:src="@{/js/utils/validation.js}"></script>
        <script src="/js/utils/intl-tel.js" th:src="@{/js/utils/intl-tel.js}"></script>
        <script src="/js/utils/countries.js" th:src="@{/js/utils/countries.js}"></script>
        <style>

          @media (max-width: 992px){
            .ndl_logo {
              margin-left: auto;
              margin-right: auto;
            }
            .anchor {
              display: none;
            }
          }
       
          @media (min-width: 1280px) {
            .hamburger {
              display: none;
            }
            #input {
              width: 700px;
            }
            #pdf {
              width: 900px;
            }
          }

        </style>
</head>
  <body>
    <nav class="w-auto h-28 shadow bg-white">
      <div class="xl:flex items-center pt-6 gap-20 text-3xl xl:pl-10">
        <div x-data="{ open: false }">
        <button @click="open = !open" class="hamburger absolute left-4 top-11">
          <img src="/imgs/logos/more.svg" alt="Hamburger menu">
        </button>
        <div x-show="open">
          <div class="absolute top-28 bg-white w-full h-40 flex flex-col items-center gap-3 text-gray-400">
            <a href="sign.html">Sign</a>
            <hr class="h-0.5 w-32 bg-gray-400">
            <a href="verify.html">Verify</a>
            <hr class="h-0.5 w-32 bg-gray-400">
          </div>
        </div>
      </div>
        <img src="/imgs/logos/ndl.png" class="ndl_logo" alt="NDL logo" width="140" />
        <a href="sign.html" class="anchor">Sign</a>
        <a href="verify.html" class="anchor">Verify</a>
      </div>
    </nav>
     <article class="flex flex-col items-center gap-6 mt-16 xl:mt-32">
      <h1 class="!text-5xl">Verify me</h1>
      <input type="file" id="input" class="h-40 bg-white border-cyan-50 border flex items-center justify-center">
      <button @click="open = !open" class="text-3xl bg-gray-400 text-white px-16 py-1.5 border-radius">Verify</button>
     </article>
     <section id="pdf" class="bg-white mx-auto mt-20">
     <h2 class="text-3xl py-4 pl-6">
      Result
    </h2>
    <hr class="h-0.5 mx-2 bg-gray-300">
     <article class="px-4 xl:px-20 pt-6">
      <div class="flex">
        <div class="grid grid-cols-2 gap-4">
          <div class="text-gray-500 text-xl">
            <p>Name</p>
            <p>Size</p>
            <p>Certification date</p>
            <p class="text-black text-2xl font-semibold pt-4">50 Signers</p>
          </div>
          <div class="text-xl font-semibold">
            <p>example.pdf</p>
            <p>00.00 KB</p>
            <p>dd/mm/yyyy hh:mm:ss</p>
          </div>
        </div>
      </div>
        <div class="pt-4">
          <div class="flex gap-3">
            <img src="/imgs/logos/alert.svg" alt="Alert logo" />
            <h3 class="!text-3xl">
              Company name
            </h3>
          </div>
          <div class="flex gap-3 pt-2">
            <div class="text-box">
          <p class="text-lg text-orange-500">
            Reason why this person wasn't able to be validated... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  
          </p>
        </div>
          <div class="max-xl:hidden h-20 w-32 -mt-8 border">logo</div>
        </div>
          <hr class="h-0.5 mt-2 bg-gray-300">
        </div>
        <div class="xl:hidden h-20 w-32 flex items-center justify-center mx-auto mt-4 border">logo</div>
        <div class="pt-4">
          <div class="flex gap-3">
          <img src="/imgs/logos/check.svg" alt="Check logo" />
          <h3 class="!text-3xl">
            Company name
          </h3>
        </div>
          <div class="flex gap-3 pt-2">
            <div class="text-box">
          <p class="text-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  
          </p>
        </div>
          <div class="max-xl:hidden h-20 w-32 -mt-8 border">logo</div>
        </div>
          <hr class="h-0.5 mt-2 bg-gray-300">
        </div>
        <div class="xl:hidden h-20 w-32 flex items-center justify-center mx-auto mt-4 border">logo</div>
     </article>
    </section>
  </body>
</html>